<div class="input-excel-file">
    <h2>Please Select File:</h2>
    <input type="file" class="file-upload" (change)="onFileSelected($event)">
    <p class="file-name" *ngIf="fileName"><b>File Name:</b> {{fileName}}</p>
</div>