<section id="error-section">
</section>
<app-input-excel-file [onProcessFileChange]="onProcessExcelFileChange"></app-input-excel-file>
<section id="json-preview">
    <h2>JSON Preview:</h2>
    <div class="terminal">
        <pre>{{jsonPreview}}</pre>
    </div>
</section>